# Creating Tables

In MySql data is stored in tables an columns .These need to be created before you can store and retrieve data .Flaskr will store users in the user table ,and posts in the post table .Create a file with the SQL commands needed to create empty tables .

##### Next we are going to see how use MySql to create tables .

### Jupyter Lab without Docker

In case you want to use the Jupyter configuration without Docker

1.  Install MySQL on your OS
    - [Windows](https://dev.mysql.com/doc/refman/8.4/en/windows-installation.html)
    - [MacOS](https://dev.mysql.com/doc/refman/8.4/en/macos-installation.html)
    - [Linux](https://dev.mysql.com/doc/refman/8.4/en/linux-installation.html)

2.  Install Python

3.  Install VS Code and the [Jupyter extension](https://marketplace.visualstudio.com/items?itemName=ms-toolsai.jupyter)

4.  Install the MySQL client in python:
    - Windows:

      ```
      pip install ipython-sql sqlalchemy==1.4.46 mysqlclient
      ```

    - MacOS:

      ```
      brew install pkg-config
      pip install ipython-sql sqlalchemy==1.4.46 mysqlclient
      ```

    - Linux:

      ```
      sudo apt-get install python3-dev default-libmysqlclient-dev build-essential pkg-config
      pip install ipython-sql sqlalchemy==1.4.46 mysqlclient
      ```

**Load sql extension**

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**Connect to the server with the user and password**

In [ ]:
%sql mysql://user:password@localhost:3306

**Verify connection and using an exist database**

In [11]:
%%sql
show databases;
use candela;

 * mysql://root:***@localhost:3306
9 rows affected.
0 rows affected.

[]

**View of the tables**

In [12]:
%sql show tables

 * mysql://root:***@localhost:3306
0 rows affected.

[]

#### Now we can create the tables

In [19]:
%%sql
DROP TABLE IF EXISTS post;
DROP TABLE IF EXISTS user;

CREATE TABLE user (
    id INT PRIMARY KEY AUTO_INCREMENT,
    username VARCHAR(255) UNIQUE NOT NULL,
    password VARCHAR(255) NOT NULL
);

CREATE TABLE post (
    id INT PRIMARY KEY AUTO_INCREMENT,
    author_id INT NOT NULL,
    created TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    title VARCHAR(255) NOT NULL,
    body TEXT NOT NULL,
    FOREIGN KEY (author_id) REFERENCES user(id)
);

show tables;

 * mysql://root:***@localhost:3306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
2 rows affected.

[('post',), ('user',)]

**Then add the Python function that will run these SQL commands to the db.py file:**

In [20]:
from flask import Flask,g,current_app
import click
import mysql.connector

def init_db():
    db = get_db()
    with current_app.open_resource('schema.sql') as f:
        db.executescript(f.read().decode('utf8'))

@click.command('init-db')
def init_db_command():
    """Clear the existing data and create new tables."""
    init_db()
    click.echo('initializated the database')

open_resource() opens a file relative to the flaskr package, which is useful since you wonâ€™t necessarily know
where that location is when deploying the application later. get_db returns a database connection, which is used to
execute the commands read from the file.

click.command() defines a command line command called init-db that calls the init_db function and shows a
success message to the user. You can read Command Line Interface to learn more about writing commands.